# Ignore compiled Python files
__pycache__/

app.py

# Ignore SQLite database and its journal
usersm.db
usersm.db-journal

# Ignore Excel dataset
sentimentdataset.xlsx

# Ignore all files in the static folder
static/

# Ignore requirements file (if not needed in repo)
requirements.txt
